body {
  font-family: "Open Sans", sans-serif; 
  background: radial-gradient(circle, rgba(64,66,75,1) 0%, rgba(34,35,36,1) 86%);


}

h1, h2, h3, p {
  font-family: "Roboto", sans-serif; 
  color: white;}

header h2 {
  color: white; }

  .form-group label, p{
    color: #fff;
  }  

.site-footer {
  background: linear-gradient(4deg, rgba(64,66,75,1) 30%, rgba(34,35,36,1) 100%);
  color: rgb(90, 95, 95);
  padding: 30px 0; }

.jumbotron {
  margin: 0;
  padding-top: 5px;
  padding-right: 100px;
  padding-bottom: 15px;
  padding-left: 0px;
  background-image: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(57,15,23,1) 75%);
  background-repeat:no-repeat;
  background-size: 100%;
  background-position:top left;
  position: relative;
  color: white; }

  .row-top {
    padding: 50px 0;
    min-height: 200px;}

.row-content {
  padding: 50px 0;
  min-height: 200px; }

.row-media {
  padding-top: 15px;
  padding-right: 0px;
  padding-bottom: 15px;
  padding-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  width: 100%;
   }

.navbar {
  background-color: #1a1919;
  padding-top: 1px;
  padding-bottom: 1px;
}
  

.item {
  height: 100px;
    
}


.slick-prev:before, .slick-next:before { 
  font-family: FontAwesome; 
  font-size: 45px; 
  line-height: 1; 
  color:  #eeede7; 
  filter: drop-shadow(3px 3px 8px #000000);
  opacity: .35; 
  -webkit-font-smoothing: antialiased; 
  -moz-osx-font-smoothing: grayscale; }   

[dir="rtl"] .slick-prev:before { left: auto; top: auto; right: auto; }
.slick-prev:before { content: "\f053"; }
[dir="rtl"] .slick-prev:before { content: "\f053"; }

[dir="rtl"] .slick-next { left: auto; top: auto; right: auto; }
.slick-next:before { content: "\f054"; }
[dir="rtl"] .slick-next:before { content: "\f054"; }

.slick-prev
{
    position: absolute;
    top: 40%;
    left: 1%;
}

.slick-next
{
    position: absolute;
    top: 40%;
    right: 2%;
}

slick-lightbox-close:focus{outline:none}.slick-lightbox-close:before{font-family:FontAwesome;font-size:35px;line-height:1;color:#f7f3f3;opacity:0.45;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;content:'\f057'}